* {
   margin: 0;
   padding: 0;
}

body {
   margin: auto;
   width: 1200px;
}

h1 {
   font-size: 2rem;
   text-align: center;
   background-color: skyblue;
}

p {
   text-align: center;
   margin: 0 auto;
   font-size: 1rem;
   color: pink;
}

a:link {
   color: pink;
}

a:visited {
   color: pink;
}

a:hover {
   background-color: yellow;
   transition: .3ms;
   font-size: 2rem;
}
